{% extends 'base.html' %}
{% load static %}
{% block body %}

<body class="post-template">
<div class="site-wrapper">
	<header class="main-header post-head " style="background-image: url({{ image_url }})">

	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="post-title">{{ blog.title }}</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<section class="post-meta">
			<time class="post-date" datetime="2015-12-13">{{ blog.created_at }}</time> | <a href="/contact">Admin</a>
			</section>
		</div>
	</div>
	</header>
	<main id="content" class="content" role="main">
	<div class="wraps">
		<img src="assets/img/shadow.png" class="wrapshadow">
		<article class="post featured">
		<section class="post-content">
		<p>{{ blog.body | safe}}</p>
		</section>
		<footer class="post-footer">
		<figure class="author-image">
		<a class="img" href="author.html" style="background-image: url(assets/img/gravatar.jpg"><span class="hidden">David's Picture</span></a>
		</figure>
		</footer>
		<div id="disqus_thread">
		</div>
		</article>
	</div>
	</main>
	
</div>
<script>
    window.onload = function (e) {
        let url = window.location.href;
        console.log(url);

        // Check if the URL has already been modified
        if (url.indexOf("modified=true") === -1) {
            // Replace "%20" with "-"
            url = url.replace(/%20/g, "-");

            // Append a query parameter to mark the URL as modified
            url += (url.indexOf("?") === -1 ? "?" : "&") + "modified=true";

            // Redirect to the modified URL
            window.location.href = url;
        }
    };
</script>
<script type="text/javascript" src="https://code.jquery.com/jqin.js"uery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/index.js' %}"></script>
</body>
{% endblock body %}